--extra-index-url https://download.pytorch.org/whl/cpu
langchain==0.1.9
langchain-community==0.0.25
pypdf
python-dotenv
langchain-groq
sentence-transformers
python-docx
chromadb
fastapi
uvicorn
tqdm
numpy
pandas
slowapi
limits
deprecated
torch==2.1.2+cpu